
.wrapper{
    height: 1080px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}
.wrapper__white {
  background: url("./img/Background.png"), center no-repeat;
  background-size: cover;
  color: #f1f1f1;
}
.wrapper_gray {
  background-color: #ffffff;
}
