.item {
  text-transform: uppercase;
}
.item_font__typical {
  color: white;
}
.item_font__special {
  color: #bebebe;
}
.header_menu {
  width: 610px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 1919px) and (min-width: 768px) {
  .header_menu {
    width: 590px;
  }
}
@media (max-width: 767px) {
    .header_menu{
        display: none;
    }
}
