*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { box-sizing: border-box }

body {
  margin: 0;
  font-family:  'PT Sans', 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 50px;
  background-color: white;
}

ul, li{
  display: block;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;

}
a:hover{
cursor: pointer;
}
li{
  list-style: none;
}

 