$titleStyle-font-family: "Open Sans";

@mixin titleStyle {
  font-family: $titleStyle-font-family;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;
}

  .description {
    width: 819px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 0 85px 0 50px;
    font-family: $titleStyle-font-family;
    span {
      font-size: 36px;
      margin-top: 45px;
    }
  }
  .container {
    display: flex;
    width: 1590px;
    margin: 0 auto;
    margin-top: auto;
  }
  .title {
    @include titleStyle;
    padding-top: 20px;
    line-height: 180px;
  }
  p:last-of-type {
    padding-top: 25px;
  }

  .img {
    height: 700px;
    width: 771px;
    background: url("./img/Jason Wood.png"), center no-repeat;
    background-size: cover;
  }

  @media (max-width: 1919px) and (min-width: 767px) {
    .container {
      width: 100%;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .title {
      line-height: 140px;
    }
    .description {
      margin: 0 35px 0 50px;
    }
    .container {
      margin-top: 0;
      margin-bottom: auto;
    }
    p:first-of-type {
      padding-top: 20px;
    }
    .img{
      width: 100%;
      background-position: 1535px bottom;
      background-size:auto;
      height: 696px;
    }
  }

  @media (max-width: 767px) {
    .container {
      width: 100%;
      flex-wrap: wrap;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: auto;
    }
    .title {
      font-size: 30px;
      padding-top: 0px;
      line-height: 120px;
    }
    .description {
      font-size: 18px;
      margin: 0 20px 0 35px;
      span {
        margin-top: 25px;
        font-size: 18px;
      }
    }
    p:last-of-type {
      display: none;
    }
    p:first-of-type {
      margin-top: -35px;
    }
    .img{
      width: 100%;
      background-position: 530px bottom;
      background-size:auto;
      height: 696px;
    }
  }